ul.mediumList
  li.mediumList__item.mediumList__item_teaser
    img.mediumList__teaserImage(src="../../img/content/promo_02.jpg")
  li.mediumList__item.mediumList__item_img01
  li.mediumList__item.mediumList__item_img02
  li.mediumList__item.mediumList__item_img03
  li.mediumList__item.mediumList__item_img04
  li.mediumList__item.mediumList__item_img05
  li.mediumList__item.mediumList__item_img06
  li.mediumList__item.mediumList__item_date
    time.mediumList__time(datetime="2017-09-20")
      span 20
      br
      | сентября
  li.mediumList__item.mediumList__item_img07
  li.mediumList__item.mediumList__item_img08
  li.mediumList__item.mediumList__item_img09
  li.mediumList__item.mediumList__item_img10
  li.mediumList__item.mediumList__item_img11
  li.mediumList__item.mediumList__item_img12
  li.mediumList__item.mediumList__item_date
    time.mediumList__time(datetime="2017-09-19")
      span 19
      br
      | сентября
  li.mediumList__item.mediumList__item_img13
  li.mediumList__item.mediumList__item_img14
  li.mediumList__item.mediumList__item_img15
  li.mediumList__item.mediumList__item_img16
  li.mediumList__item.mediumList__item_img17
  li.mediumList__item.mediumList__item_img18
  li.mediumList__item.mediumList__item_date
    time.mediumList__time(datetime="2017-09-18")
      span 18
      br
      | сентября
  li.mediumList__item.mediumList__item_img19
  li.mediumList__item.mediumList__item_img20
  li.mediumList__item.mediumList__item_img21
  li.mediumList__item.mediumList__item_date
    time.mediumList__time(datetime="2017-09-17")
      span 17
      br
      | сентября
  li.mediumList__item.mediumList__item_img22