ul.smallList
  li.smallList__item.smallList__item_img01
  li.smallList__item.smallList__item_img02
  li.smallList__item.smallList__item_img03
  li.smallList__item.smallList__item_img04
  li.smallList__item.smallList__item_img01
  li.smallList__item.smallList__item_img02
article.promoTeaser
  .promoTeaser__left
    a.promoTeaser__link(href="#")
  .promoTeaser__right
    span.promoTeaser__name Рекламный тизер
    ul.promoTeaser__list
      li.promoTeaser__listItem
        span.promoTeaser__listText
          strong Театральная паутина
      li.promoTeaser__listItem
        span.promoTeaser__listText Открытие новых сервисных центров немецкого автопрома
ul.smallList
  li.smallList__item.smallList__item_date
    time.smallList__time(datetime="2017-09-20")
      span 20
      br
      | сентября
  li.smallList__item.smallList__item_img02
  li.smallList__item.smallList__item_img03
  li.smallList__item.smallList__item_img04
  li.smallList__item.smallList__item_img01
  li.smallList__item.smallList__item_img02
  li.smallList__item.smallList__item_date
    time.smallList__time(datetime="2017-09-19")
      span 19
      br
      | сентября
  li.smallList__item.smallList__item_img04
  li.smallList__item.smallList__item_img04
  li.smallList__item.smallList__item_img02
  li.smallList__item.smallList__item_img03
  li.smallList__item.smallList__item_img04
  li.smallList__item.smallList__item_img01